
.admin__container {
    width: 1400px;
}

.admin__card {
    padding: 10px 0 10px 0;
    border-bottom: grey 1px solid;
}

.admin__product-card, .admin__news-card {
    display: flex;
    justify-content: center;
    width: 99%;
    margin-bottom: 30px;
}

.admin__image {
    max-width: 250px;
}

.admin__textarea, .admin__text {
width: 900px;
}

.column-title {
    font-weight: bold;
    margin-bottom: 30px;
}

.action-buttons {
    margin-right: 5px;
}

.action-buttons:last-child {
    margin-right: 0;
}
